@model IEnumerable<ProjectManagementApp.Models.Discussion>

@{
    ViewBag.Title = "Discussion";
}

<h2>Discussion Board</h2>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <b>Project Manager:</b> Work needs to be done.
            
        </div>
        <div class="col-md-10">
            <b>User:</b> I'll get on it.
        </div>
            <div class="col-md-10" style="padding-top:50px">
                <label for="name">Comment:</label>
                <input name="asdf" />
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
</div>




